<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ndm.miniwms.dao.StockInventoryMapper">
	<resultMap id="BaseResultMap" type="ndm.miniwms.pojo.StockInventory">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="INTEGER" />
		<result column="last_operator_id" property="lastOperatorId"
			jdbcType="INTEGER" />
		<result column="company_id" property="companyId" jdbcType="INTEGER" />
		<result column="location_id" property="locationId" jdbcType="INTEGER" />
		<result column="in_id" property="inId" jdbcType="INTEGER" />
		
		<association property="companyDetails"
			select="ndm.miniwms.dao.CompanyDetailsMapper.selectById" column="company_id"></association>
		<association property="locationDetails"
			select="ndm.miniwms.dao.LocationDetailsMapper.selectById" column="location_id"></association>
		
		<association property="stockIn"
			select="ndm.miniwms.dao.StockInMapper.selectById" column="in_id"></association>
		
		<association property="stockItem"
			select="ndm.miniwms.dao.StockItemMapper.selectById" column="item_id"></association>
			
		<association property="companyUser"
			select="ndm.miniwms.dao.CompanyUserMapper.selectById" column="last_operator_id"></association>	
		
		
		<collection property="stockOutEntriesList" ofType="ndm.miniwms.pojo.StockOutEntries"
			column="id" select="getStockOutEntries"></collection>		
		<collection property="stockCheckEntiesList" ofType="ndm.miniwms.pojo.StockCheckEntries"
			column="id" select="getcheckEnties"></collection>
		<collection property="stockEntriesList" ofType="ndm.miniwms.pojo.StockEntries"
			column="id" select="getStockEntries"></collection>		
	</resultMap>
	
	<resultMap id="StockOutEntriesMap" type="ndm.miniwms.pojo.StockOutEntries">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="out_id" property="outId" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="INTEGER" />
		<result column="inventory_id" property="inventoryId" jdbcType="INTEGER" />
	</resultMap>
	
	<resultMap id="stockCheckEntiesMap" type="ndm.miniwms.pojo.StockCheckEntries">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="check_id" property="checkId" jdbcType="INTEGER" />
		<result column="inventory_id" property="inventoryId" jdbcType="INTEGER" />
		<result column="check_quantity" property="checkQuantity"
			jdbcType="INTEGER" />
	</resultMap>

	<resultMap id="StockEntriesMap" type="ndm.miniwms.pojo.StockEntries">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="inventory_id" property="inventoryId" jdbcType="INTEGER" />
		<result column="item_id" property="itemId" jdbcType="INTEGER" />
		<result column="in_id" property="inId" jdbcType="INTEGER" />
		<result column="out_id" property="outId" jdbcType="INTEGER" />
		<result column="check_id" property="checkId" jdbcType="INTEGER" />
		<result column="opening_stock" property="openingStock"
			jdbcType="INTEGER" />
		<result column="closing_stock" property="closingStock"
			jdbcType="INTEGER" />
		<result column="company_id" property="companyId" jdbcType="INTEGER" />
		<result column="operator_id" property="operatorId" jdbcType="INTEGER" />
	</resultMap>
	
	<select id="all" resultMap="BaseResultMap">
		select * from stock_inventory
	</select>
	
	<select id="getStockOutEntries" parameterType="int" resultMap="StockOutEntriesMap">
		SELECT * FROM stock_out_entries WHERE inventory_id = #{inventoryId}
	</select>
	
	<select id="getcheckEnties" parameterType="int" resultMap="stockCheckEntiesMap">
		SELECT * FROM stock_check_entries WHERE inventory_id = #{inventoryId}
	</select>
	
	<select id="getStockEntries" parameterType="int" resultMap="StockEntriesMap">
		SELECT * FROM stock_entries WHERE inventory_id = #{inventoryId}
	</select>


	<select id="selectTab" resultMap="BaseResultMap">
		select * from stock_inventory
	</select>

<select id="selectItem" parameterType="java.lang.Integer" resultMap="BaseResultMap" >
    select * from stock_inventory where item_id = #{itemId} 
  </select>
  
  <update id="updateQuantity" parameterType="ndm.miniwms.pojo.StockInventory">
  	update stock_inventory set quantity=#{quantity}
  	where  item_id=#{itemId}
  </update>
  
	<delete id="delById" parameterType="java.lang.Integer">
		delete from stock_inventory where id = #{id}
	</delete>

	<insert id="add" parameterType="ndm.miniwms.pojo.StockInventory">
		insert into stock_inventory
		(created,modified,locked,item_id,quantity,last_operator_id,company_id,location_id,in_id,
		UDF1,UDF2,UDF3,UDF4,UDF5,UDF6)
		values (#{created}, #{modified},#{locked}, #{itemId},
		#{quantity},#{lastOperatorId},#{companyId},#{locationId},#{inId},
		#{UDF1},#{UDF2},#{UDF3},#{UDF4},#{UDF5},#{UDF6})
	</insert>

	<update id="update" parameterType="ndm.miniwms.pojo.StockInventory">
		update stock_inventory set
		created=#{created},modified=#{modified},locked=#{locked},
		item_id=#{itemId}, quantity=#{quantity},
		last_operator_id=#{lastOperatorId}, company_id=#{companyId},
		location_id=#{locationId}, in_id=#{inId},
		UDF1=#{UDF1},UDF2=#{UDF2},UDF3=#{UDF3},UDF4=#{UDF4},UDF5=#{UDF5},UDF6=#{UDF6}
		where id = #{id}
	</update>

</mapper>